body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#0084C2, #FFDB0A);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 2px #000066;
}

#ringo-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid #FFDB0A;
    margin-bottom: 10px;
}

#bday-age {
    background: #FFDB0A;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #FFDB0A;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("https://media.giphy.com/media/artj92V8o75VPL7AeQ/giphy.gif");
    width: 400px;
    height: 400px;
    background-size: cover;
}

#gift-img-amazed:hover {
    background-image: url("https://media.giphy.com/media/lXu72d4iKwqek/giphy.gif");
    width: 400px;
    height: 400px;
    background-size: cover;
}

#gift-img-talented:hover {
    background-image: url("https://media.giphy.com/media/aEZgmm8GEL7cdMGx5t/giphy.gif");
    width: 400px;
    height: 400px;
    background-size: cover;
}

#gift-img-thanks:hover {
    background-image: url("https://media.giphy.com/media/6SUW4Nw5XrWGQ/giphy.gif");
    width: 400px;
    height: 400px;
    background-size: cover;
}

#gift-img-cheers:hover {
    background-image: url("images/cheers.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/